includes:
    - ./vendor/nunomaduro/larastan/extension.neon

parameters:
    checkMissingIterableValueType: false
    checkGenericClassInNonGenericObjectType: false
    paths:
        - app
        - tests
    level: 6
    excludePaths:
        - app/Orchid/*
