// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');
@import url('https://fonts.googleapis.com/css2?family=Rubik+Mono+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

//@import 'variables';

@import "~bootstrap/scss/bootstrap";

// Font-Awesome
@import "~@fortawesome/fontawesome-free/scss/fontawesome";
@import "~@fortawesome/fontawesome-free/scss/regular";
@import "~@fortawesome/fontawesome-free/scss/solid";
@import "~@fortawesome/fontawesome-free/scss/brands";

.logo {
    font-family: 'Rubik Mono One', sans-serif;
    font-size: 20px;
    line-height: 1;
}

header {
    z-index: 1;
}

footer {
    z-index: 1;
}

[x-cloak] {
    display: none;
}


// Another css file for book.show page

.book > section {
    max-height: calc(100vh - 10rem);
}

.list-group {
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}

.mask-image-container {
    -webkit-mask-image: linear-gradient(to top, transparent 5%, black 50%);
    mask-image: linear-gradient(to top, transparent 5%, black 50%);
    height: 70%;
}

.mask-image-container > img {
    object-fit: cover;
    max-height: 100%;
    width: 100%;
    object-position: 100% 0;
}
